<aside class="player-sidebar">

  <!-- =====================================================
       JOUEUR
       Points de vie + héros
       ===================================================== -->

  @if (showPlayer) {
    <app-life-panel />
    <app-hero-panel />
  }


  <!-- =====================================================
       INVENTAIRE
       ===================================================== -->

  @if (showInventory) {
    <app-inventory-panel />
  }


  <!-- =====================================================
       MESSAGES DU JOUEUR
       ===================================================== -->

  @if (showMessage) {
    <app-message-panel />
  }

</aside>
