<aside class="player-sidebar">

  <!-- =====================================================
       JOUEUR
       Points de vie + héros
       ===================================================== -->

  @if (showPlayer) {
    <app-life-panel
      [player]="player"
    />

    <app-hero-panel
      [player]="player"
    />
  }


  <!-- =====================================================
       INVENTAIRE
       ===================================================== -->

  @if (showInventory) {
    <app-inventory-panel
      [player]="player"
    />
  }


  <!-- =====================================================
       MESSAGES DU JOUEUR
       =====================================================

       La couleur du joueur est transmise au panneau afin
       d'apporter un rappel visuel discret de son identité.

       Cette couleur n'a aucune incidence sur le gameplay.
       ===================================================== -->

  @if (showMessage) {
    <app-message-panel
      [playerColor]="playerColor"
    />
  }

</aside>
